body {
    background-color: cadetblue;
}

#title {
 color: black;
 font-size: 30px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#scheduleTitle {
    background-color: crimson; 
    color: blanchedalmond;
}

#newTrainTitle {
    background-color: crimson; 
    color: blanchedalmond;
}

#submitbutton {
    background-color: crimson; 
    color: blanchedalmond; 
}
